openapi: 3.0.3
info:
  title: {{ appName }}/{{ classname }}
  description: {{ classname }} specification for {{ appName }}
  contact:
    name: {{ infoName }}
    url: {{ infoUrl }}
    email: {{ infoEmail }}
  license:
    name: {{ licenseInfo }}
    url: {{ licenseUrl }}
{{{ api-spec-yaml }}}